<form (ngSubmit)="addQuote()"> 
    <!-- This functionwill add quote when called -->
    <div class="card formBody my-4" >
        <div class="form-group">
            <p class="my-2">Enter Your Name</p>
            <br>
            <input placeholder="Enter your name" minlength="3" class="form-control" id="identity" name="identity" type="text" [(ngModel)]="identity" required>
            <!-- <div class="alert alert-danger my-2" *ngIf="identity.touched && !identity.valid">Please enter your name</div> -->
        </div>
        <div class="form-group">
            <p>Post Quote</p>
            <br>
            <textarea id="inputquote" name= "inputquote" rows="5" cols="50" placeholder="Your inspirational quote here..." [(ngModel)]="inputquote" required class="form-control"></textarea>
            <!-- <div class="alert alert-danger my-2" *ngIf="inputquote.touched && !inputquote.valid">Please enter your quote</div> -->
        </div>
        <div class="form-group">
            <p>Quote Author</p>
            <input id="authorName" placeholder="enter the author's name" name="authorName" ngModel minlength="3" [(ngModel)]="authorName" required class="form-control">
            <!-- <div class="alert alert-danger my-2" *ngIf="authorName.touched && !authorName.valid">Please enter the Author's name</div> -->
        </div>
        <button id="create" class="create btn btn-primary my-4" style="align-self:center;" (click)=show() type="submit">Create Quote</button>
    </div>

</form>

<div *ngFor="let inputform of inpforms">
    <div class="container card p-3 cardbody my-4">
        <div>{{inputform.quote}}</div>
        <div>Author ~ {{inputform.author}}</div>
        <div>Added By ~ {{inputform.submitter}}</div>
        <div class="my-3 quotebuttons">
            <div class="votes">
                <span class="mr-3">
                    <button class="btn btn-success mx-2" name="upvotes" [(ngModel)]="upvotes" (click)="upVote()">Upvote</button>{{uvotes}} votes
                </span>
                <span class="mx-3">
                    <button class="btn btn-danger mx-2" name="downvotes" [(ngModel)]="downvotes" (click)="downVote()">Downvote</button>  {{dvotes}} votes
                </span>
            </div>
            <button class="btn btn-danger" (click)="deleteQuote()">Delete Quote</button>
        </div>
    </div>   
    
</div>

<!-- <div *ngFor="let inputform of inpforms">
    <div class="card">
        <div><p>{{inputform.quote}}</p></div>
        <div><p>Author ~ {{inputform.author}}</p></div>
        <div><p>Added By ~ {{inputform.submitter}}</p></div>
    </div>
</div> -->


