<div class="container">
    <div class="card p-3 cardbody my-4" *ngFor="let inputform of quotations" >
        <div>{{inputform.quote}}</div>
        <div>Author ~ {{inputform.author}}</div>
        <div>Added By ~ {{inputform.submitter}}</div>
        <div class="my-3 quotebuttons">
            <div class="votes">
                <span>
                    <button class="btn btn-success mx-4">Upvote</button>{{votes}} votes
                </span>
                <span>
                    <button class="btn btn-danger">Downvote</button>  {{votes}} votes
                </span>
            </div>
            <button class="btn btn-danger">Delete Quote</button>
        </div>
    </div>
</div>


